*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav{
    height: 80px;
    width: 100%;
     background-color: rgba(33, 29, 29, 0.905);
     color: red;
     display: flex;
     justify-content: flex-start;
     align-items: center;
}
.section1{
    background-image: url(http://getwallpapers.com/wallpaper/full/5/4/4/877422-cristiano-ronaldo-wallpapers-2160x1920-for-android-40.jpg);
    height: 140vh;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-size: 100% 1050px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

}
.part{
    padding: 20px;
    cursor: pointer;
    letter-spacing: 1px;

}
.part h3{
    font-size: 2.0rem;
    color: white;
    margin: 10px;
    
}
.part h3 span{
    color: red;
    cursor: pointer;
}

.heading{
    color: red;
    font-size: 3rem;
    font-weight: bolder;

}
.part p{
    color: white;  
    cursor: pointer;

}
.flex{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 20px 0;
}
.section2{
    height: 60vh;
    /* max-width: 80vw; */
    margin-left: auto;
    margin-right: auto;
}
.my-2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.he-1{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
